:root {
    --dark-purple: #7b62a3;
    --green: #9bcc50;
    --orange: #fd7d24;
    --purple: #b97fc9;
    --yellow: #eed535;
    --grey: #bdb9b8;
    --blue: #4592c4;
    --light-blue: #3dc7ef;
}

.card {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    flex-flow: column;
    margin-bottom: 20px;
    display: flex;
    width: 250px;
    line-height: 1.5rem;
}

.card:hover {
    animation-name: pulse;
    -moz-animation-name: pulse;
}

.card a {
    margin: 0 auto 0 auto;
    text-align: center;
}

.card img {
    align-self: center;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    background-color: #f2f2f2;
}

.card .details {
    padding: 20px;
}
