:root {
    --dark-purple: #7b62a3;
    --green: #9bcc50;
    --orange: #fd7d24;
    --purple: #b97fc9;
    --yellow: #eed535;
    --grey: #bdb9b8;
    --blue: #4592c4;
    --light-blue: #3dc7ef;
}

.card {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    flex-flow: column;
    margin-bottom: 20px;
    display: flex;
    width: 250px;
    line-height: 1.5rem;
}

.card:hover {
    animation-name: bounce;
    -moz-animation-name: bounce;
}

@keyframes bounce {
    0%,
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.card a {
    margin: 0 auto 0 auto;
    text-align: center;
}

.card img {
    align-self: center;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    background-color: #f2f2f2;
}

.card .details {
    padding: 20px;
}

.type-box {
    border-radius: 3px;
    padding: 5px;
}

.type-box:not(:first-child) {
    margin-left: 10px;
}

.type-box-green {
    background-color: var(--green);
}

.type-box-orange {
    background-color: var(--orange);
}

.type-box-blue {
    background-color: var(--blue);
}

.type-box-grey {
    background-color: var(--grey);
}

.type-box-yellow {
    background-color: var(--yellow);
}

.type-box-purple {
    background-color: var(--purple);
}

.type-box-dark-purple {
    background-color: var(--dark-purple);
}

.type-box-blue-grey {
    background: linear-gradient(
        to bottom,
        var(--light-blue) 0%,
        var(--light-blue) 50%,
        var(--grey) 50%,
        var(--grey) 100%
    );
}
